$main-purple = #7828B4
$main-purple__light = #9013FE


$nav-bar-color = $main-purple

$nav-bar-container-width__lg = 70rem
$nav-bar-container-padding-left = 2.38rem
$nav-bar-container-padding-right = $nav-bar-container-padding-left

$nav-bar-logo-color = $nav-bar-color
$nav-bar-logo-width = 18.75rem
$nav-bar-logo-hieght = 4.31rem
$nav-bar-logo-hieght__lg = 5.75rem
$nav-bar-logo-padding-left = 2.5rem
$nav-bar-logo-font-size = 1.5rem
$nav-bar-logo-font-color = #fff

$nav-bar-search-padding_obj = {
  top: .88rem,
  left: 2.5rem,
  bottom: .66rem,
  right: 2.5rem
}

$nav-bar-search-padding = values($nav-bar-search-padding_obj)
$nav-bar-search-width = 24.25rem
$nav-bar-search-border-bottom = .1rem solid #000
$nav-bar-search-color__md = $nav-bar-color 
$nav-bar-search-font-size = 1.25rem
$nav-bar-search-font-color = #fff
$nav-bar-search-placeholder-font-color = rgba(#fff, .5)

