$main-blue = #4A90E2
$main-blue__active = #00408B
$main-red = #D0021B
$main-orange = #f5a623
$main-orange__active = #FFF2DC

$max-width = 41.25rem

/* nav */
$nav-bar-color = $main-blue
$nav-bar-max-width = 41.25rem
$nav-bar-height = 4.75rem
$nav-bar-item-width = $nav-bar-max-width / 3
$nav-bar-text-color = $main-blue__active
$nav-bar-text-color__active = #fff
$nav-bar-font-size = 1.5rem

$nav-bar-activeBar-color = $main-blue__active
$nav-bar-activeBar-height = 5px

/* main */
$container-max-width = 38.75rem
$container-padding-top = 1.5rem
$container-color = #E1E1E1

$task-add-height = 4.0625rem
$task-add-color = #fff
$task-add-border-width = 2px
$task-add-border-color = #c8c8c8
$task-add-border-radius = 5px
$task-add-padding-left = 3rem

$task-add-mark-size = 1.25rem
$task-add-mark-color = #c8c8c8
$task-add-font-family = 'Roboto Regular'
$task-add-font-size = 1.5rem
$task-add-text-color = $task-add-mark-color
$task-add-test-margin-left = 1.14rem

$task-list-padding-top = 1.5rem

$task-item-color = #f2f2f2
$task-item-color__active = $main-orange__active
$task-item-border-radius = 5px
$task-item-margin-top = .5rem
$task-item-padding-left = 2rem
$task-item-padding-right = $task-item-padding-left
$task-item-padding-top  = 1.5rem
$task-item-padding-bottom  = 1rem
$task-item-padding = $task-item-padding-top $task-item-padding-right $task-item-padding-bottom $task-item-padding-left
$task-item-row-first-height = 1.75rem
$task-item-row-first-margin-bottom = .5rem
$task-item-row-second-height = 1.2rem
$task-item-row-second-margin-top = 1rem
$task-item-row-second-padding-left = 2.5rem

$task-item-hover-mark-color = #d8d8d8
$task-item-hover-mark-size = .25rem
$task-item-hover-mark-pos-left = .5rem
$task-item-hover-mark-pos-top = 50%

$task-item-checkbox-size = 1.5rem
$task-item-checkbox-text-color = #fff
$task-item-checkbox-color = #fff
$task-item-checkbox-color__active = $main-blue
$task-item-checkbox-radius = 0.13rem

$task-item-title-margin-left = 1rem
$task-item-title-text-color__active = #9B9B9B
$task-item-title-font-size = 1.5rem

$task-item-mark-size = 1.5rem
$task-item-mark-margin-left = 2rem
$task-item-mark__important-color__active = $main-orange
$task-item-mark__edit-color__active = $main-blue

$task-item-content-mark-size = 1rem
$task-item-content-mark-color = #757575
$task-item-content-mark-margin-left = 1rem

$task-edit-border-top-color = #C8C8C8 
$task-edit-border-top-width = .2rem
$task-edit-border-top = $task-edit-border-top-width solid $task-edit-border-top-color

$task-edit-content-padding-top = 1.6rem
$task-edit-content-padding-bottom = 1.5rem
$task-edit-content-padding-right = 4.5rem
$task-edit-content-padding-left = $task-edit-content-padding-right
$task-edit-content-padding = $task-edit-content-padding-top $task-edit-content-padding-right $task-edit-content-padding-bottom $task-edit-content-padding-left

$task-edit-content-row-margin-top = 1.5rem
$task-edit-content-row-title-mark-size = 1rem
$task-edit-content-row-title-text-margin-left = 0.55rem
$task-edit-content-row-title-text-font-size = 1.25rem

$task-edit-content-row-container-padding-left = 1.5rem

$task-edit-footer-height = 3.75rem
$task-edit-footer-font-size = 1.5rem
$task-edit-footer-cancle-color = #fff
$task-edit-footer-cancle-text-color = $main-red
$task-edit-footer-save-color = $main-blue
$task-edit-footer-save-text-color = #fff

$task-edit-footer-text-width = 6.4rem